body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Kodchasan', sans-serif;
}

header {
    width: 100%;
    background-color: #6E98D8;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navegacion ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

#navegacion ul li {
    margin: 0 10px;
}

#navegacion ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.caja-universidad {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 80%; /* Ajusta el ancho total de la caja universitaria */
}

.logo-universidad {
    flex: 1;
    display: flex;
    justify-content: center; /* Centra horizontalmente el logo dentro de su división */
}

.logo-universidad img {
    width: 150px; /* Ajusta según sea necesario */
    height: auto;
}

.info-universidad {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el texto dentro de su división */
    text-align: center;
}


#pie_de_pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#redes_sociales {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-top: 10px;
}

#redes_sociales li {
    margin: 0 10px;
}
