*{
    margin: 0;
   padding: 0; 
}


/*?SECCION DE LA BARRA DE NAVEGACIÓN*/


header{
    width: 100%;
    background-color:#6E98D8 ;
}

nav{
    display: flex; /* Utiliza flexbox para organizar el contenido */
    justify-content:flex-end; 
    align-items: center;
    

}


ul li{
    display: inline-block;
    position: relative;
}

li a{
    text-decoration: none;
    color: #FEF5F5;
    font-size: 26px;
    font-family: Kodchasan;

}

li{
    margin: 8px;
}


li a:hover{
    background-color: #FEF5F5;
    color:black;
    border-radius:8px;   

}

#logo{
   
    
    

}




/*IMAGEN DE BIENVENIDA*/

#imgBienvenida{
   width: 100%;
}

.populares {
    text-align: center; /* Centra el texto y puede ayudar a centrar elementos inline-block dentro de este contenedor */
}

.contenedor-imagenes {
    display: flex; /* Utiliza flexbox para un control más fino de la alineación */
    justify-content: center; /* Centra los elementos horizontalmente en el contenedor */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas si no caben en una sola */
    gap: 50px;
     /* Espaciado entre las imágenes */
}

.contenedor-imagenes img {
    max-width: 100%; /* Asegura que las imágenes no sean más grandes que su contenedor */
    height: auto;
    border: 2px solid #000; /* Mantiene la proporción de las imágenes */
}

.seccion-libros .contenedor-imagen-texto {
    display: flex;  /* Activa Flexbox */
    align-items: center;  /* Centra los elementos verticalmente */
    justify-content: space-between;  /* Espacia los elementos uniformemente */
}

.contenedor-imagen {
    position: relative;  /* Permite posicionar la descripción de manera absoluta sobre la imagen */
}

.contenedor-imagen img {
    width: 100%;  /* Ajusta la imagen al contenedor */
    max-width: 600px;  /* Limita el tamaño máximo de la imagen */
}

.descripcion-imagen {
    position: absolute;  /* Posiciona la descripción sobre la imagen */
    top: 50%;  /* Centra verticalmente */
    left: 50%;  /* Centra horizontalmente */
    transform: translate(-50%, -50%);  /* Ajuste fino del centro */
    color: white;  /* Texto blanco */
    background-color: rgba(0,0,0,0.7);  /* Fondo negro semi-transparente */
    padding: 10px;  /* Espacio alrededor del texto */
}

.texto-derecha {
    width: 100%;  /* Ajusta el texto al espacio restante */
    max-width: 400px;  /* Limita el tamaño máximo del texto */
    padding-left: 20px;  /* Espacio entre la imagen y el texto */
}

@media (max-width: 768px) {
    .seccion-libros .contenedor-imagen-texto {
        flex-direction: column;  /* Cambia a disposición vertical en pantallas pequeñas */
    }
}
.texto-derecha {
    text-align: right;  /* Alinea el texto a la derecha */
}
