<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FACULTADES PLADAU</title>
</head>
<body>
    <header>
        <div>
            <p>
                PLADAU
            </p>
        </div>
        <div>
            <nav>
                <ul>
                    <li><a href="index.html">INICIO</a></li>
                    <li><a href="nosotros.html">NOSOTROS</a></li>
                    <li><a href="facultades.html">FACULTADES</a></li>
                    <li><a href="donaciones.html">DONACIONES</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section>
        <div id="facultades">

            <h2>FACULTADES</h2>
            
            <p>Aquí encontraras las facultades de la Universidad Autonoma de NUevo León (UANL), o sobre la carrera que estas estudiando 
                o sobre la facultad que quieres estudiar. En un futuro se agregaran más.
            </p>

            <div class="facultades">
                <div id="fime">
                    <img src="" alt="">

                </div>

                <div class="facpya">
                        <img src="" alt="">
                </div>
                
                <div class="facdyc">
                    <img src="" alt="">
                </div>

                <div class="farq">
                    <img src="" alt="">
                </div>
            </div>


        </div>
    </section>
    
</body>
</html>