<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FACULTADES PLADAU</title>
    <link rel="stylesheet" href="visual.css">
    <link rel="stylesheet" href="/estilosCSS/style.css" type="text/css" media="all">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="titulo">
            <img id="logo" src="ImgPladau/PLADAU.png" alt="LOGO PLADAU">   
        </div>
        <nav id="navegacion">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="facultades.html">Facultades</a></li>
                <li><a href="donaciones.html">Donaciones</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div id="facultades">

            <h2>FACULTADES</h2>
            
            <p>Aquí encontraras las facultades de la Universidad Autonoma de NUevo León (UANL), o sobre la carrera que estas estudiando 
                o sobre la facultad que quieres estudiar. En un futuro se agregaran más.
            </p>

            <div class="facultades">
                <div id="fime">
                    <img src="" alt="">

                </div>

                <div class="facpya">
                        <img src="" alt="">
                </div>
                
                <div class="facdyc">
                    <img src="" alt="">
                </div>

                <div class="farq">
                    <img src="" alt="">
                </div>
            </div>


        </div>
    </section>
    
</body>
</html>