<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="description">
    <title>PLADAU</title>
    <link rel="stylesheet" href="estilosCss/estiloForo.css" type="text/css" media="all">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    
</head>
<body>
    <!--Encabezado de la Pagina web, logo y menú-->

    <header>
        <div class="titulo">
            <img id="logo" src="ImgPladau/PLADAU.png" alt="LOGO PLADAU">   
        </div>
        <div id="navegacion">
            <nav>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="universidades.html">Universidades</a></li>
                    <li><a href="donaciones.html">Donaciones</a></li>
                    <li><a href="foro.html">Foro</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="forum-section">
        <div class="forum-filters">
            <button>Facultad <span>&#9660;</span></button>
            <button>Carrera <span>&#9660;</span></button>
            <button>Semestre <span>&#9660;</span></button>
            <button>Materia <span>&#9660;</span></button>
            <button>Más Recientes <span>&#9660;</span></button>
            <button>Crear Pregunta</button>
            <button>Crear Pregunta ANÓNIMA</button>
        </div>
    
        <div class="forum-topics">
            <article class="forum-topic">
                <div class="user-info">
                    <img src="user-avatar.png" alt="User Avatar">
                    <div class="user-details">
                        <h2>User Name</h2>
                        <p>Materia: <a href="#">Física</a></p>
                    </div>
                </div>
                <div class="topic-content">
                    <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Necessitatibus, Esse Delectus. Recusandae, Perferendis Laboriosam Officiis Voluptatem Natus Quidem Pariatur Facilis Ipsum Numquam, Nesciunt, Voluptatibus Deleniti. Velit Rerum Numquam Mollitia Ex.</p>
                </div>
                <div class="topic-meta">
                    <span>Fecha De Publicación</span>
                </div>
            </article>
    
            <article class="forum-topic">
                <div class="user-info">
                    <img src="user-avatar.png" alt="User Avatar">
                    <div class="user-details">
                        <h2>User Name</h2>
                        <p>Materia: <a href="#">Mecánica De Fluidos</a></p>
                    </div>
                </div>
                <div class="topic-content">
                    <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Necessitatibus, Esse Delectus. Recusandae, Perferendis Laboriosam Officiis Voluptatem Natus Quidem Pariatur Facilis Ipsum Numquam, Nesciunt, Voluptatibus Deleniti. Velit Rerum Numquam Mollitia Ex.</p>
                </div>
                <div class="topic-meta">
                    <span>Fecha De Publicación</span>
                </div>
            </article>
    
            <article class="forum-topic">
                <div class="user-info">
                    <img src="user-avatar.png" alt="User Avatar">
                    <div class="user-details">
                        <h2>User Name</h2>
                        <p>Materia: <a href="#">Mecánica Vectorial</a></p>
                    </div>
                </div>
                <div class="topic-content">
                    <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Necessitatibus, Esse Delectus. Recusandae, Perferendis Laboriosam Officiis Voluptatem Natus Quidem Pariatur Facilis Ipsum Numquam, Nesciunt, Voluptatibus Deleniti. Velit Rerum Numquam Mollitia Ex.</p>
                </div>
                <div class="topic-meta">
                    <span>Fecha De Publicación</span>
                </div>
            </article>
    
            <article class="forum-topic">
                <div class="user-info">
                    <img src="user-avatar.png" alt="User Avatar">
                    <div class="user-details">
                        <h2>User Name</h2>
                        <p>Materia: <a href="#">Matemáticas III (Ecuaciones Diferenciales)</a></p>
                    </div>
                </div>
                <div class="topic-content">
                    <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Necessitatibus, Esse Delectus. Recusandae, Perferendis Laboriosam Officiis Voluptatem Natus Quidem Pariatur Facilis Ipsum Numquam, Nesciunt, Voluptatibus Deleniti. Velit Rerum Numquam Mollitia Ex.</p>
                </div>
                <div class="topic-meta">
                    <span>Fecha De Publicación</span>
                </div>
            </article>
        </div>
    </section>
    





</body>
</html>