<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="description">
    <title>PLADAU</title>
    <link rel="stylesheet" href="visual.css">
    <link rel="stylesheet" href="/estilosCSS/style.css" type="text/css" media="all">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    
</head>
<body>
    
    <header>
        <div class="titulo">
            <img id="logo" src="ImgPladau/PLADAU.png" alt="LOGO PLADAU">   
        </div>
        <nav id="navegacion">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="facultades.html">Facultades</a></li>
                <li><a href="donaciones.html">Donaciones</a></li>
            </ul>
        </nav>
    </header>

    <section>

        <div class="background"> <!--IMAGEN DE FONDO DE LA PAGINA PRINCIPAL-->
            <img id="primer_img" src="ImgPladau/Rectangle 3.png" alt="">
        </div>

        <div class="bienvenida">
            <h1 class="text_de_bienvenida">BIENVENIDOS</h1>
            <p class="text_de_bienvenida">TE AYUDAREMOS A FORMARTE EN LO PROFESIONAL</p>
        </div>




        <div id="informacion">
            <div id="caja_de_texto_de_info">
                <p id="text_info">Te ayudaremos con el material necesario para que pases la materia, desde la facultad que estudias hata los libros
                    y videos que usan los estudiantes de esa facultad. <br>
    
                    Pero, si eres un estudiante de preparatoria, también veras lo que estudia un ingeniero electronico, abogado, etc..
                </p>
            </div>
            
        </div>

        <div id="grupoDeEstudiantes">
            <img id="img_grupoestudiantes"src="ImgPladau/Rectangle 6.png" alt="GRUPO DE ESTUDIATNES">

        </div>
    

    </section>


    <!--Pie de pagina-->
    <footer>
        <div id="pie_de_pagina">
            <p id="derechos_reservados">
                PALADAU S.A DE C.V <br>
                ALL RIGTHS RESERVED 2023 <br>
            </p>

            <ul id="redes_sociales">
                <a href="https://www.facebook.com"><li>Facebook</li></a>
                <a href="https://www.instagram.com"><li>Instagram</li></a>
                <a href="https://wwww.youtube.com"><li>Youtube</li></a>
            </ul>
        </div>
    </footer>
</body>
</html>