<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOSOTROS PLADAU</title>
    <link rel="stylesheet" href="visual.css">
    <link rel="stylesheet" href="/estilosCSS/style.css" type="text/css" media="all">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="titulo">
            <img id="logo" src="ImgPladau/PLADAU.png" alt="LOGO PLADAU">   
        </div>
        <nav id="navegacion">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="facultades.html">Facultades</a></li>
                <li><a href="donaciones.html">Donaciones</a></li>
            </ul>
        </nav>
    </header>

    <section>

        <div id="nosotros">
            <h2>SOBRE NOSOTROS</h2>

            <p>
                Somos un grupo de estudiantes de la facultad de Ingenieria Mecaánica y Electrica (FIME), ubicada en
                San Nicolas de los Garza, Nuevo León. Cada uno estudiando en diferentes semestres, desde 5 semestres
                hasta 7 semestre de la carrera esto debido que cada uno estudia diferentes carreras, pero las 5 
                personas que somos tenemos las misma preocupación de todo estudiante y es, ¿qué material 
                me ayudara para las materias?, desde un video de youtube para entender a un problema de matematicas, hasta un libro de fisica sobre la relatividad. <br>

                  Pero además de eso también sirve para nuestros compañeros de preparatoria dodnde es la edad donde no sabemos que estudiar o donde la mayoria cree tener la idea 
                  sobre una carrera pero es erronea, por eso, no solo esta enfocado hacia los ó las estudiantes universitarios.     

            </p>

        </div>

    </section>

</body>
</html>