<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="description">
    <title>FACULTADES PLADAU</title>
    <link rel="stylesheet" href="estilosCss/estiloUniversidad.css" type="text/css" media="all">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="titulo">
            <img id="logo" src="ImgPladau/PLADAU.png" alt="LOGO PLADAU">   
        </div>
        <nav id="navegacion">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="universidades.html">Universidades</a></li>
                <li><a href="donaciones.html">Donaciones</a></li>
                <li><a href="foro.html">Foro</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1>Universidades</h1>
            <div class="caja-universidad" id="cajaUANL">
                <div class="logo-universidad">
                    <img src="ImgPladau/Logo_de_la_UANL.png" alt="Logo de la UANL">
                </div>

                
                <div class="info-universidad">
                    <a href="Universidades/UANL/Facultadesuanl.html">Universidad Autónoma de Nuevo León</a>
                    <p>Esta universidad está ubicada en la ciudad de San Nicolás de los Garza.</p>
                </div>
            </div>
        
            <div class="caja-universidad" id="cajaUERRE">
                <div class="logo-universidad">
                    <img src="ImgPladau/logo_UERRE.png" alt="Logo U-ERRE">
                </div>
                <div class="info-universidad">
                    <a href="Universidades/UERRE/FacultadesUerre.html">Universidad U-ERRE</a>
                    <p>Esta Universidad está ubicada en Monterrey.</p>
                </div>
            </div>
        </section>
    </main>

    <!-- Pie de página -->
    <footer>
        <div id="pie_de_pagina">
            <p id="derechos_reservados">
                PALADAU S.A DE C.V <br>
                ALL RIGHTS RESERVED 2023 <br>
            </p>
            <ul id="redes_sociales">
                <a href="https://www.facebook.com"><li>Facebook</li></a>
                <a href="https://www.instagram.com"><li>Instagram</li></a>
                <a href="https://www.youtube.com"><li>YouTube</li></a>
            </ul>
        </div>
    </footer>
</body>
</html>
