<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="description">
    <title>FACULTADES PLADAU</title>
    <link rel="stylesheet" href="estilosCss/style.css" type="text/css" media="all">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="titulo">
            <img id="logo" src="ImgPladau/PLADAU.png" alt="LOGO PLADAU">   
        </div>
        <div id="navegacion">
            <nav>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="universidades.html">Universidades</a></li>
                    <li><a href="donaciones.html">Donaciones</a></li>
                    <li><a href="foro.html">Foro</a></li>

                </ul>
            </nav>
        </div>
    </header>



    <section>
        <div>
            <h1>Universidades</h1>
            <div id="cajaUANL">
                <div>
                    <img src="ImgPladau/Logo_de_la_UANL.png" alt="">
                </div>
                <div>
                    <a href="Universidades/UANL/Facultadesuanl.html">Universidad Autonoma de Nuevo Leon</a>
                    <p>Esta universidad esta ubicada en la ciudad de San Nicolas de los Garza</p>
                </div>
            </div>

            <div id="cajaUERRE">
                <div>
                    <img src="ImgPladau/logo_UERRE.png" alt="">
                </div>
                <div>
                    <a href="Universidades/UERRE/FacultadesUerre.html">Universidad U-REE</a>
                    <p>Esta Universidad esta ubicada</p>
                </div>
            </div>
    </section>


    <!--Pie de pagina-->
    <footer>
        <div id="pie_de_pagina">
            <p id="derechos_reservados">
                PALADAU S.A DE C.V <br>
                ALL RIGTHS RESERVED 2023 <br>
            </p>

            <ul id="redes_sociales">
                <a href="https://www.facebook.com"><li>Facebook</li></a>
                <a href="https://www.instagram.com"><li>Instagram</li></a>
                <a href="https://wwww.youtube.com"><li>Youtube</li></a>
            </ul>
        </div>
    </footer>

</body>
</html>