@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>


    

</head>
<body>
    <!--Encabezado de la Pagina web, logo y menú-->

    <section>
        <!--SECCION DE LOS MAS POPULARES Y EL SLIDER DE BIENVENIDA ENTRE OTROS-->
        <div>
            <img id="imgBienvenida" src="/Images/Bienvenida.jpg" alt="Imagen de ilustracion para la bienvenida">
        </div>

        <div class="populares">
            <!--DE LOS MAS POPULARES-->
            <p>LOS MAS POPULARES</p>

            <div class="contenedor-imagenes">
                <img src="Images/Ellipse FIME.png" alt="Descripción Fime Popular">
                <img src="Images/FisicaejemploPopular.png" alt="Descripción Física Ejemplo Popular">
                <img src="Images/CNC 1.png" alt="Descripción CNC">
                <img src="Images/INTEGRALES 1.png" alt="Descripción Integrales">
            </div>
        </div>
    </section>


    <section class="seccion-compra">
        <!-- Sección de Material Escolar -->
        <div class="item-compra">
            <div class="imagen">
                <a href="link-a-material-escolar.html">
                    <img id="materialEscolar" src="Images/MATERIALES-PLA.jpg" alt="Material Escolar">

                </a>
            </div>
            <div class="descripcion">
                <p>En esta parte puedes comprar el material que necesitas, de la carrera que estudias facilitando tu búsqueda de los materiales que ocupes.</p>
            </div>
        </div>

        <!-- Sección de Libros -->
        <div class="item-compra">
            <div class="imagen">
                <a href="compra_libros.html">
                    <img id="librosPDF" src="Images/LIBROS_PDF.jpg" alt="Libros y PDF">

                </a>
            </div>
            <div class="descripcion2">
                <p>Podrás buscar los libros que ocupas en tu materia, aunque no solo los libros físicos sino también digitales, esto para ahorrarte el tiempo.</p>
            </div>
        </div>
    </section>



    <!--Pie de pagina-->
    @* <footer>
        <div id="pie_de_pagina">
            <p id="derechos_reservados">
                PALADAU S.A DE C.V <br>
                ALL RIGTHS RESERVED 2023 <br>
            </p>

            <ul id="redes_sociales">
                <a href="https://www.facebook.com">
                <li>Facebook</li></a>
                <a href="https://www.instagram.com">
                <li>Instagram</li></a>
                <a href="https://wwww.youtube.com">
                <li>Youtube</li></a>
            </ul>
        </div>
    </footer> *@
</body>
</html>
