@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<University>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Universidades</title>
</head>
<body>
 
<main>
        <section>
            <h1>Universidades</h1>
            <div class="caja-universidad" id="cajaUANL">
                <div class="logo-universidad">
                    <img src="~/Imagenes/Logo_de_la_UANL.png" alt="Logo de la UANL">
                </div>

                
                <div class="info-universidad">
                    <a href="Universidades/UANL/Facultadesuanl.html">Universidad Autónoma de Nuevo León</a>
                    <p>Esta universidad está ubicada en la ciudad de San Nicolás de los Garza.</p>
                </div>
            </div>
        
            <div class="caja-universidad" id="cajaUERRE">
                <div class="logo-universidad">
                    <img src="~/Imagenes/logo_UERRE.png" alt="Logo U-ERRE">
                </div>
                <div class="info-universidad">
                    <a href="Universidades/UERRE/FacultadesUerre.html">Universidad U-ERRE</a>
                    <p>Esta Universidad está ubicada en Monterrey.</p>
                </div>
            </div>
        </section>
    </main>




</body>
</html>